.daterange-customer {
  width: 100%;
}

.input-numberrange {
  width: 100%;
}

.input-numberrange input {
  text-align: center;
}

.input-numberrange span {
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: solid #cccccc;
  border-width: 1px 0;
  margin-left: -5px;
  margin-right: -5px;
  background: #d6d8dd!important;
  border: none!important;
  text-shadow: none!important;
}

.table-bg-white {
  background-color: #fff;
}

.table-bg-white table {
  font-size: 12px;
}

.btn-add {
  margin-bottom: 20px;
}

.btn-search {
  margin-bottom: 20px;
}

.download-group {
  float: right;
  margin: 15px 15px 0 0;
}
