body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

.task-dag {
  background: -webkit-linear-gradient(top, transparent 19px, #aaa 20px), -webkit-linear-gradient(left, transparent 19px, #aaa 20px);
  background: -moz-linear-gradient(top, transparent 19px, #aaa 20px), -moz-linear-gradient(left, transparent 19px, #aaa 20px);
  background: -o-linear-gradient(top, transparent 19px, #aaa 20px), -o-linear-gradient(left, transparent 19px, #aaa 20px);
  background: -ms-linear-gradient(top, transparent 19px, #aaa 20px), -ms-linear-gradient(left, transparent 19px, #aaa 20px);
  background: linear-gradient(top, transparent 19px, #aaa 20px), linear-gradient(left, transparent 19px, #aaa 20px);
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
}

.task-dag {
  width: 100%;
  height: 100%;
}

.task-dag svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.task-dag text {
  font-weight: 300;
  font-size: 12px;
}

.task-dag .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
}

.task-dag .status {
  height: 100%;
  width: 15px;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}

.task-dag .node {
  text-align: center;
}

.task-dag .pending .status {
  background-color: #aaa;
}

.task-dag .running .status {
  background-color: #77f;
}

.task-dag .succeed .status {
  background-color: #7f7;
}

.task-dag .failed .status {
  background-color: #f77;
}

.task-dag .warn .queue {
  color: #f77;
}

.task-dag .name {
  margin-top: 4px;
  line-height: 38px;
  font-size: 10px;
}

.task-dag .node g div {
  width: 200px;
  height: 40px;
  color: #fff;
}

.task-dag .node g div span.consumers {
  display: inline-block;
  width: 20px;
}

.task-dag .edgeLabel text {
  width: 50px;
  fill: #fff;
}

.task-dag .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}
